@import "tailwindcss";

:root {
  --background: #FEFDF8;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1,
h2 {
  font-family: var(--font-fredoka);
}
